.chat {
  display: flex;
  height: 100%;
  flex-direction: column;

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow-y: scroll;

    h1 {
      font-weight: 300;
      font-size: 23px;
    }
    .message {
      background-color: white;
      padding: 15px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
      }
      span {
        font-weight: bold;
      }
    }
  }

  .chatBox {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;

    .top {
      background-color: #f7c14b85;
      padding: 15px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .close {
        cursor: pointer;
      }
    }
    .center {
      height: 350px;
      overflow: scroll;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .chatMessage {
        width: 50%;
        p {
          font-size: 12px;
        }

        &.own {
          align-self: flex-end;
          text-align: right;
        }
        span {
          font-size: 9px;
          background-color: #efcc8085;
          padding: 3px 5px;
          border-radius: 5px;
        }
      }
    }
    .bottom {
      border-top: 2px solid #f7c14b85;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea {
        flex: 3;
        height: 100%;
        border: none;
        padding: 5px;
      }
      button {
        flex: 1;
        height: 100%;
        background-color: #f7c14b85;
        border: none;
        cursor: pointer;
      }
    }
  }
}
