@import "../../scss/responsive.scss";

.profilePage {
  display: flex;
  height: 100%;
  @include md {
    flex-direction: column;
    // overflow: scroll;
  }
  .details::-webkit-scrollbar {
    width: 5px;
  }

  .details::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    padding-bottom: 50px;

    /* Customize the width of the scrollbar */

    @include md {
      flex: none;
      height: max-content;
      overflow-y: visible;
      padding: 30px 0px;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      @include md {
        padding-right: 0px;
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
      }

      h1 {
        font-weight: 300;
      }
      button {
        padding: 10px 20px;
        background-color: #fece51;
        cursor: pointer;
        border: none;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 12px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        button {
          width: 100px;
          background-color: teal;
          border: none;
          color: white;
          border-radius: 5px;
        }

        img {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    @include md {
      padding: 20px 0px;
      flex: none;
      height: max-content;
      padding-bottom: 40px;
    }

    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
