@import "../../scss/responsive.scss";

.listPage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    // overflow: scroll;
  }

  .listContainer {
    flex: 3;
    .wrapper::-webkit-scrollbar {
      width: 5px;
    }

    .wrapper::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 10px;
    }
    .wrapper {
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
      @include md {
        padding-right: 0px;
        overflow-y: visible; // Disable scrolling
      }
    }
    @include md {
      flex: none;
      height: max-content;
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;
    @include md {
      flex: none;
      height: 400px;
      padding-bottom: 50px;
      background-color: white;
    }
  }
}
